{{ $https_port := .Env.CMS_PORT_HTTPS }}
{{ if isTrue .Env.HAPROXY_TLS_ENABLE }}
backend dotcms_https
    balance roundrobin
    http-reuse aggressive
    option http-server-close
    option forceclose
    stick-table type string len 32 size 1m expire 8h
    stick store-response res.cook(JSESSIONID)
    stick match req.cook(JSESSIONID)
    {{ with .Env.CMS_BACKEND_SERVERS }}{{ range $index, $server := split . "," }}    
        server dotcms_{{ $server }}_{{ $https_port }} {{ $server }}:{{ $https_port }} verify none check
    {{ end }}{{ end }}

    {{ if .Env.HAPROXY_MAINTENANCE_PAGE }}
    errorfile 503 {{ .Env.HAPROXY_MAINTENANCE_PAGE }}  
    {{ end }}

{{ end }}